<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaudachuang.catlife.dao.CatOwnerMapper">
    <insert id="replaceInsertOwner">
        replace into catowner (openId, sessionKey, nickname, avatar) values
        (#{catOwner.openId}, #{catOwner.sessionKey}, #{catOwner.nickName}, #{catOwner.avatar});
    </insert>
    <select id="getUserCorrelationInfoBar"
            resultType="com.scaudachuang.catlife.model.CorrelationInfoBar"
            parameterType="int">
        select nId as id, bfDatetime as fbDateTime, nickname, avatar
        from correlation_list join catowner on correlation_list.nId = catowner.ownerId
        where correlation_list.beNId = #{id} and bf = #{bf};
    </select>

    <select id="getByOpenId" resultType="com.scaudachuang.catlife.entity.CatOwner">
        select * from catowner where openId = #{openId};
    </select>


</mapper>